<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.witboot.infrastructure.gateway.impl.database.mapper.LoginLogMapper">

    <resultMap id="loginLoggDOMap" type="com.witboot.infrastructure.gateway.impl.database.dataobject.LoginLogDO">
        <result property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="location" column="location"/>
        <result property="userAgent" column="user_agent"/>
        <result property="device" column="device"/>
        <result property="browser" column="browser"/>
        <result property="loginTime" column="login_time"/>
    </resultMap>

    <sql id="Column_List">
        id, ip, user_id, user_name, location, user_agent, os, device, browser, login_time
    </sql>

    <select id="selectByParam" resultMap="loginLoggDOMap">
        SELECT
        id, ip, user_id, user_name, location, user_agent, os, device, browser, login_time
        FROM wb_login_log
        <where>
            <if test="searchKeyword != null and searchKeyword != ''">
                ip like concat('%',#{searchKeyword},'%')
            </if>
            <if test="method != null and method != ''">
                and method = #{method}
            </if>
        </where>
        ORDER BY login_time DESC
    </select>

    <select id="selectById" resultMap="loginLoggDOMap">
        SELECT
        <include refid="Column_List"/>
        FROM wb_login_log
        WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wb_login_log
        (ip, user_id, user_name, location, user_agent, os, device, browser, login_time)
        VALUES (#{ip}, #{userId}, #{userName}, #{location}, #{userAgent}, #{os}, #{device}, #{browser}, #{loginTime})
    </insert>

    <delete id="deleteByIds">
        DELETE FROM wb_login_log WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
