info:
  app:
    name: WitBoot
    version: 0.0.1

spring:
  security:
    user:
      name: admin
      password: admin

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/witboot?serverTimezone=UTC
    username: root
    password: root

  flyway:
    enabled: false

server:
  port: 8080

mybatis:
  mapper-locations: classpath:mappers/*xml
  type-aliases-package: com.witboot.mybatis.entity

management:
  endpoints:
    web:
      exposure:
        include: '*'
  #      base-path: /monitor
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true