<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.witboot.infrastructure.gateway.impl.database.mapper.OperationLogMapper">

    <resultMap id="operationLogDOMap" type="com.witboot.infrastructure.gateway.impl.database.dataobject.OperationLogDO">
        <result property="id" column="id"/>
    </resultMap>

    <select id="selectById" resultMap="operationLogDOMap">
        SELECT * FROM wb_operation_log WHERE id = #{id}
    </select>

    <select id="selectByParam" resultMap="operationLogDOMap">
        SELECT * FROM wb_operation_log
        <where>
            <if test="ip != null and ip != ''">
                AND ip = #{ip}
            </if>
        </where>
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wb_operation_log
        (ip, location, method, uri, waste_time, request_param, request_body, response_result, create_time)
        VALUES (#{ip}, #{location}, #{method}, #{uri}, #{wasteTime}, #{requestParam}, #{requestBody}, #{responseResult}, sysdate())
    </insert>
</mapper>
