<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.witboot.infrastructure.gateway.impl.database.mapper.OperationLogMapper">

    <resultMap id="operationLogDOMap" type="com.witboot.infrastructure.gateway.impl.database.dataobject.OperationLogDO">
        <result property="id" column="id"/>
    </resultMap>

    <select id="selectByParam" resultMap="operationLogDOMap">
        SELECT * FROM wb_operation_log
        <where>
            <if test="ip != null and ip != ''">
                ip = #{ip}
            </if>
        </where>
        ORDER BY request_time DESC
    </select>

    <select id="selectById" resultMap="operationLogDOMap">
        SELECT * FROM wb_operation_log WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wb_operation_log
        (ip, location, method, uri, request_time, waste_time, request_param, request_body, response_result)
        VALUES (#{ip}, #{location}, #{method}, #{uri}, #{requestTime}, #{wasteTime}, #{requestParam}, #{requestBody}, #{responseResult})
    </insert>

    <delete id="deleteByIds">
        DELETE FROM wb_operation_log WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
