<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.witboot.infrastructure.gateway.impl.database.mapper.UserMapper">

    <resultMap id="userDOMap" type="com.witboot.infrastructure.gateway.impl.database.dataobject.UserDO">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="mobile" column="mobile"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="description" column="description"/>
        <result property="creator" column="creator"/>
        <result property="modifier" column="modifier"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="creator" column="creator"/>
        <result property="modifier" column="modifier"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wb_user
        (username, name, password, delete_flag, creator, modifier, create_time, update_time)
        VALUES (#{username}, #{name}, #{password}, #{deleteFlag}, #{creator}, #{modifier}, sysdate(), sysdate())
    </insert>

    <insert id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE wb_user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            update_time = sys_date()
        </set>
        WHERE id = #{id}
    </insert>

    <select id="selectById" resultMap="userDOMap">
        SELECT id, username, name, mobile
        FROM wb_user
        WHERE id = #{id}
        AND delete_flag = 1
    </select>

    <select id="selectByUsername" resultMap="userDOMap">
        SELECT id, username, name, password, mobile
        FROM wb_user
        WHERE username = #{username}
          AND delete_flag = 1
    </select>

    <select id="selectByParam" resultMap="userDOMap">
        SELECT id, username, name, mobile
        FROM wb_user
        <where>
            <if test="name != null and name != ''">
                name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="username != null and username != ''">
                username = #{username}
            </if>
            AND delete_flag = 1
        </where>
    </select>

    <select id="existByUsername" resultType="java.lang.Boolean">
        SELECT count(*)
        FROM wb_user
        <where>
            username = #{username}
            <if test="userId != null">
                AND id &lt;&gt; #{userId}
            </if>
            AND delete_flag = 1
        </where>
    </select>

    <delete id="deleteByIds">
        DELETE FROM wb_user WHERE id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </delete>
</mapper>
